body{
    background-color: lightslategray;
    color: white;
}

.generator{
    /* background-color: darkgrey; */
    box-shadow: 0px 1px 10px;
    border-width: 2px;
    border-style: solid;
    margin-top: 200px;
    padding: 30px;
}

h2{
    margin-bottom: 15px;
}
textarea{
    resize: none;
    color: white !important;
    background-color: rgb(70, 70, 70) !important;
    margin-bottom: 10px;
    padding-top: 30px !important;
}

numbers{
    color: rgb(170, 29, 29);
    background-color: #dc3445;

}

.checkboxes{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}

/* attempting to customize the checkbox color */
input[type="checkbox"].checks:checked{
    color: #dc3445;
}

.fullWidthButton{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: white;
}
